
.company-name{
    text-align: center;
}
.review-title{
    text-align: center;
    margin-top: 0;
    /* background-color:yellowgreen; */
}
.top{
    height:'100vh';
}
.big-chart-container{
    background-color: blue;
}

.keyword-review{
    font-size: 1em;
}

.icon-flipped {
    -o-transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
    transform: scaleX(-1);
}

.full-cue-card-review{
margin-top:175px;
}
.top-panels{
    background-color: antiquewhite;
}

 