body {
    background-color:'white'
 }

header {
    height: 170px;
   
   /* background-image: url('https://img.freepik.com/free-vector/abstract-blue-background_1048-1511.jpg?size=338&ext=jpg')  */
}


.company-name{
    text-align: center;
}
.review-title{
    text-align: center;
    margin-top: 0;

    /* background-color:yellowgreen; */
}
.top{
    height:'100vh';
}
.big-chart-container{
    background-color: blue;
}

.keyword-review{
    font-size: 1em;
}

.icon-flipped {
    -o-transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
    transform: scaleX(-1);
}

/* .full-cue-card-review{

} */


div.MuiPaper-root-17 {
    margin: 10px;
}

/* .top-panels{
    background-color: antiquewhite;
} */


